{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Esto es un titulo</title>
    <style>
        body { font-family: Arial, sans-serif; background: #f0f7f5; color: #123; padding: 2rem; }
        header { display:flex; justify-content:space-between; align-items:center }
        nav a { margin-left: 1rem; }
        main { margin-top: 2rem }
    </style>
</head>
<body>
<h1>Ésto no es muy educado de tu parte , pero entiendo que no entiendas el sentido de ésto y quieras 
pasar directo al final. </h1>
    {% if user.is_authenticated %}
        <p><a href="{% url 'videos' %}">click</a></p>
    {% endif %}
</html>